<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="add_notes">

  <info>
    <link type="guide" xref="index#task"/>
  </info>

  <title>Add notes to a task</title>

  <steps>
    <item><p>Expand the task by clicking on it in the list.</p></item>
    <item><p>Write something in the textfield labeled with <gui style="button">Notes</gui>.</p></item>
  </steps>

  <p>You can edit this later whenever you want.</p>

</page>
