<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="assign_date">

  <info>
    <link type="guide" xref="index#task"/>
  </info>

  <title>Assign a date to a task</title>

  <steps>
    <item><p>Expand the task by clicking on it in the list.</p></item>
    <item><p>Click on the button labeled with <gui style="button">Today</gui>, <gui style="button">Tomorrow</gui> or with the arrow icon to assign another date.</p></item>
  </steps>

  <p>To delete the date, click on the button with the arrow icon and then on <gui style="button">None</gui>.</p>

</page>
