<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="contributing">

  <info>
    <link type="guide" xref="index#contribute"/>
  </info>

  <title>Contribute to Endeavour</title>

  <p>There are multiple ways of helping to improve Endeavour:</p>
  <list>
    <item><p>File issues you have encountered while using Endeavour</p></item>
    <item><p>Translate the user interface or help pages of Endeavour</p></item>
    <item><p>Correct issues or implement new features</p></item>
  </list>

  <p>For filing an issue go to the <link href="https://gitlab.gnome.org/World/Endeavour/issues">issuetracker</link>.</p>
  <p>And for contributing code or translations go to the <link href="https://wiki.gnome.org/action/show/Newcomers">newcomers guide</link>.</p>

</page>
