<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="create_task">

  <info>
    <link type="guide" xref="index#task"/>
  </info>

  <title>Create a Task</title>

  <steps>
    <item><p>Type the title of the new task in the textfield labeled with <gui style="button">New Task</gui> next to + .</p></item>
    <item><p>Then hit <keyseq><key>Enter</key></keyseq> or click on + to save it.</p></item>
  </steps>

  <note style="tip">
    <title>Undoing changes</title>
    <p>Note that you can always undo deleting a task if you change your mind. Click <gui style="button">Undo</gui> on
    the pop-up notification that appears. But when the popup disappears, you cannot recover it anymore.</p>
  </note>

  <p>When you want to delete the task, expand the task by clicking on it in the list and then click on <gui style="button">Delete</gui>.</p>

</page>
