<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="execute_task">

  <info>
    <link type="guide" xref="index#task"/>
  </info>

  <title>Execute a task</title>

  <p>Click on the empty field on the left side of the task in the list, to give it a check. Then it disappears from <gui>Inbox</gui>, and similar categories. When the task was in a task list, you can still find it there and remove the check to make it again not executed.</p>

</page>
