<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic"
      id="rename_tasklist">

  <info>
    <link type="guide" xref="index#tasklists"/>
  </info>

  <title>Rename a task list</title>

  <steps>
    <item><p>Navigate to your task list.</p></item>
    <item><p>Open the menu (<media its:translate="no" type="image" src="figures/view-more-symbolic.svg"></media>) on the right side of the headerbar.</p></item>
    <item><p>Click on the <gui style="button">Rename</gui> button.</p></item>
    <item><p>Type in the new name.</p></item>
    <item><p>Hit <keyseq><key>Enter</key></keyseq> or click <gui style="button">Rename</gui>.</p></item>
  </steps>

</page>
