<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic"
      id="switch_theme">

  <info>
    <link type="guide" xref="index#prob"/>
  </info>

  <title>Switch to the dark theme</title>

  <p>When you are in a dark environment, for example at night, a dark theme can be much more comfortable for the eyes.</p>

  <steps>
    <item><p>Open the menu ( <media its:translate="no" type="image" src="figures/open-menu-symbolic.svg"></media> ) on the right side of the headerbar.</p></item>
    <item><p>Click on the dark or light circle, and the theme switches to it.</p></item>
  </steps>

</page>
